@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --font-open-sans: "Open Sans", sans-serif;
  --font-hanken-grotesk: "Hanken Grotesk", sans-serif;
}

body {
  font-family: var(--font-open-sans);
}

.swiper-pagination-bullet {
  background-color: #4f46e5 !important; /* Warna default bullet */
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background-color: #0a0cc3!important; /* Warna bullet aktif */
  opacity: 1;
}